@font-face {
    font-family: 'Bratas Flat';
    src: 
        url('@/fonts/bratas/bratas_flat.ttf') format('truetype'),
        url('@/fonts/bratas/bratas_flat.otf') format('opentype');
    /* font-weight: 200 700; */
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Bratas Rounded';
    src: 
    url('@/fonts/bratas/bratas_rounded.ttf') format('truetype'),
    url('@/fonts/bratas/bratas_rounded.otf') format('opentype');
    font-display: swap;
    font-style: normal;
}