@import url('chillax.css');
@import url('synonym.css');
@import url('neon.css');

:root {
--title-font: 'Chillax-Semibold';
--subtitle-font: 'Synonym-Semibold';
--body-font: 'Synonym-Regular';
--main-color: #da4691;
--light-accent: #dd9663; 
/* --dark-accent: #812394;  */
--dark-accent: #7774c8;
--dark-shades: #240553;
--light-shades: #F0E7EE;
}

.main-body {
  font-family: var(--body-font) !important;
  background-color: var(--light-shades);
  margin: 0;
}